tr:nth-child(odd) {
	background-color: darkcyan;
}

tr:nth-child(even) {
	background-color: lightcyan;
}

th, tr, td {
	border: 3px solid white;
	font-size: 24px;
}

th, tr, td {
	padding: 10px;
}

th, td {
	border-radius: 20px;
}