h1 {
	text-align: center;
	color: royalblue;
	font-family: Arial;
	background-color: lightgoldenrodyellow;
}

p {
	font-size: 40px;
	font-style: italic;
}

.intro {
	padding: 50px;
	margin: 75px;
	background-color: darkgreen;
	border: 5px solid;
}

.fav {
	font-size: 32px;
	font-style: normal;
	border: 10px dashed blueviolet;
}




